.container {
  max-width: 1024px;
  margin: 0 auto;
}
button {
  background-color: #fff;
  margin: 5px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.image {
  width: 30%;
  margin: 5px;
}
img {
  width: 100%;
}

.active {
  background-color: gray;
}